*{
    overflow: hidden;
}

#mapAREA {
    /* background-color: blue; */
    height: 100vh;
    width: 100vh;
    position: absolute;
    top: 0;
    z-index: 10;
    overflow: hidden;
}

#roomArea {
    background-color: wheat;
    height: 90vh;
    width: 90vh;
    position: absolute;
    top: 5vh;
    left: 5vh;
    border-radius: 5vh;
}
#backgroundDIV{
    position: absolute;
    top: -5vh;
    left: -5vh;
    height: 110vh;
    width: 110vh;
    overflow: hidden;
}
#backgroundIMG{
    animation: defile 10s linear infinite;
}

@keyframes defile{
    from{transform: translateX(0vh)}
    to{transform: translateX(-400vh)}
}