#mapAREA {
    /* background-color: blue; */
    height: 100vh;
    width: 100vh;
    position: absolute;
    top: 0;
    z-index: 10;
    overflow: hidden;
}

#roomArea {
    background-color: wheat;
    height: 90vh;
    width: 90vh;
    position: absolute;
    top: 5vh;
    left: 5vh;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-reverse {
    100% {
        transform: rotate(-360deg);
    }
}

#treasureDIV {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.externSquare {
    position: absolute;
    animation: rotate 20s infinite linear;
    height: 35vh;
    width: 35vh;
    /* background-color: rgba(255, 217, 0, 0.32); */
    border: dashed rgba(0, 0, 0, 0.696) 0.1vh;
    z-index: 20;
}

.middleSquare {
    position: absolute;
    animation: rotate-reverse 18s infinite linear;
    height: 20vh;
    width: 20vh;
    /* background-color: rgba(255, 217, 0, 0.328); */
    border: dashed rgba(0, 0, 0, 0.696) 0.1vh;
    z-index: 20;
}

.internSquare {
    position: absolute;
    animation: rotate 16s infinite linear;
    height: 9.5vh;
    width: 9.5vh;
    /* background-color: rgba(255, 217, 0, 0.296); */
    border: dashed rgba(0, 0, 0, 0.696) 0.1vh;
    z-index: 20;
}
.externSquare.duplicate {
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.middleSquare.duplicate {
    animation-timing-function: cubic-bezier(0.1, 0.2, 0.8, 0);
}

.internSquare.duplicate {
    animation-timing-function: cubic-bezier(0.1, -0.4, 0.5, 0);
}
.externSquare.none {
    animation: none;
}

.middleSquare.none {
    animation: none;
}

.internSquare.none {
    animation: none;
}

#autel {
    position: absolute;
    height: 5vh;
    width: 5vh;
    background-color: rgb(128, 128, 128);
    border-bottom: inset 0.5vh #d3d3d3;
    border-left: inset 0.5vh #d3d3d3;
    z-index: 25;
}

#externText{
    animation: rotate 20s infinite linear;
    position: absolute;
    height: 60vh;
    width: 60vh;
    z-index: 15;
}
#middleText{
    animation: rotate-reverse 18s infinite linear;
    position: absolute;
    height: 35vh;
    width: 35vh;
    z-index: 15;
}
#internText{
    animation: rotate 16s infinite linear;
    position: absolute;
    height: 20vh;
    width: 20vh;
    z-index: 15;
}