*{
    box-sizing: border-box;
}

.mapName{
    font-size: 2.5vh;
}
#mapAREA{
    background-color: blue;
    height: 1000vh;
    width: 100vh;
    position: absolute;
    top: -900vh;
    z-index: 10;
}
.room{
    height: 100vh;
    width: 100vh;
    position: absolute;
    z-index: 15;
}
.roomArea{
    background-color: white;
    height: 90vh;
    width: 90vh;
    position: absolute;
    top: 5vh;
    left: 5vh;
}
#room0{
    background-color: red;
    top: 900vh;
}
#room1{
    background-color: violet;
    top: 800vh;
}
#room2{
    background-color: yellow;
    top: 700vh;
}
#room3{
    background-color: wheat;
    top: 600vh;
}
#room4{
    background-color: lightgreen;
    top: 500vh;
}
#room5{
    background-color: green;
    top: 400vh;
}
#room6{
    background-color: pink;
    top: 300vh;
}
#room7{
    background-color: orangered;
    top: 200vh;
}
#room8{
    background-color: gray;
    top: 100vh;
}
#room9{
    background-color: orange;
    top: 0vh;
}

.ptop{
    background-color: black;
    position: absolute;
    top: 0vh;
    left: 40vh;
    height: 2vh;
    width: 15vh;
}
.pbot{
    background-color: black;
    position: absolute;
    bottom: 0vh;
    left: 40vh;
    height: 2vh;
    width: 15vh;
}